/*shrift ozgartirish sayttan link qoyib*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');



/* Shrift ozgartirish localda */
@font-face {
    font-family: Montserrat;
    src: url(../fonts/montserrat/montserratblack.woff) format('woff'),
         url(../fonts/montserrat/montserratbold.woff2) format('woff2'),
         url(../fonts/montserrat/montserratlight.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
h2 {
    color: lightcoral;
    margin: 15px;
}
.fontlist {
    list-style: none;
    list-style-image: url();
}

h2 {
    font-family: Montserrat;
}

.size {
    font-family: Pacifico;
}

.simple {
    font-size: 20px;
    font-weight: bolder;
    font-style: normal;
    text-decoration: none;
    letter-spacing: 0px;
    text-shadow: black 0 0 10px;
    width: 50%;
    margin: 15px;
}

.procent {
    width: 60%;
    font-size: 25px;
    margin: 15px;
}

.procent span {
    font-size: 0.5em;
}

.procent2 {
    font-size: 1.4em;
    margin: 15px;
}

html {
    font-size: 20px;
}

.margin {
    margin: 15px;
}

.more {
    font-size: 2vw;
    margin: 15px;
}